.red {
    background-color: #B22222;
    color: #C0C0C0;
}

body {
	background-image:  url('https://d2yty0x2cuh2al.cloudfront.net/uploads/image/file/652851/regular_6f54ca52dba33b6df4f8107f44471090.png'); 
}